<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'session_words/css/color.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="container">
        <div class="left">
            <form action="session_words/add_word" method="post">
            {% csrf_token %}
            <h3>Add a new word</h3><br>
            <textarea name="word" id="word" cols="10" rows="1"></textarea><br>
            <label for="color">Choose color</label><br>
            <input type="radio" name="color" value="color:red"> Red<br>
            <input type="radio" name="color" value="Green"> Green<br>
            <input type="radio" name="color" value="Blue"> Blue<br>
            <input type="checkbox" name="fonts" value="fonts">show in BIG fonts!<br>
            <input type="submit" value="Add to Session">
            </form>
        </div>
   
        <div class="right">
            <form action="session_words/clear" method="post">
            {% csrf_token %}    
            <input type="submit" value="clear Session">
            {{request.session.word}
            added on - {{time}}
            </form>
        </div>
    </div>
</body>
</html>