*{
    margin:0px;
    padding:0px;
  }
  #container{
    margin:auto;
    width: 1000px;
    padding: 10px;
  }
  .left{
    display:inline-block;
    position: relative;
    width: 400px;
    margin:inherit;
    left: 100px;
    vertical-align: top;
  }
  .right{
    display:inline-block;
    position: relative;
    width:400px;
    left:10px;
    vertical-align:top;
  }